header {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0.5rem;
}

.player__attributes {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.player__attributes img {
	width: 1.25rem;
	height: auto;
}

.player__attribute-thirst img {
	transform: scale(0.8);
}

.player__attribute {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.player__attribute [data-attribute] {
	width: 150px;
	height: 1.25rem;
	position: relative;
	box-shadow: 2px 2px 2px #000;
	background-image: url('../assets/hud/stat-bar.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.player__attribute [data-attribute] span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	font-size: 0.75rem;
	color: #fff;
	font-family: var(--font-arcade);
	text-shadow: 2px 2px 2px #000;
}

.player__attribute [data-attribute] div {
	max-width: calc(100% - 6px);
	height: calc(100% - 6px);
	position: absolute;
	top: 3px;
	left: 3px;
}

[data-attribute='health'] div,
[data-attribute='thirst'] div,
[data-attribute='hunger'] div {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

[data-attribute='health'] div {
	background-image: url('../assets/hud/stat-bar-health.png');
}

[data-attribute='thirst'] div {
	background-image: url('../assets/hud/stat-bar-thirst.png');
}

[data-attribute='hunger'] div {
	background-image: url('../assets/hud/stat-bar-hunger.png');
}

[data-attribute='illness'],
[data-attribute='temperature'] {
	width: auto;
}

.player__actions {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}

.player__actions button {
	padding: 0.5rem;
	background-color: transparent;
	border: none;
	outline: none;
}

.player__actions button svg,
.player__actions button img {
	width: auto;
	height: 3rem;
}

.player__actions button svg * {
	stroke: #fff;
	fill: #34495e;
}

@media (min-width: 960px) {
	.player__attribute [data-attribute] {
		width: 200px;
	}

	.player__attribute [data-attribute] span {
		font-size: 0.75rem;
	}
}
