/** Overlay **/
.overlay {
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90;
	display: none;
	pointer-events: none;
	background-color: rgba(32, 32, 129, 0.5);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

/** Modals **/
.modal {
	width: calc(100vw - 1rem);
	max-width: 570px;
	height: calc(50vh - 1rem);
	max-height: 288px;
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 91;
	display: none;
	justify-content: center;
	align-items: center;
	aspect-ratio: 9/16;
	overflow: hidden;
	pointer-events: none;
	background-image: url('../assets/modals/container.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.modal__title {
	width: 100%;
	position: relative;
	font-family: var(--font-arcade);
}

.modal__title h6 {
	color: var(--brown-700);
	font-size: 1rem;
}

.modal__close {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0rem;
	right: 0rem;
	cursor: url('../assets/cursor/pointer.png'), auto;
	background-image: url('../assets/modals/button-close.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
}

.modal__close:active {
	cursor: url('../assets/cursor/pointer-down.png'), auto;
	transform: scale(0.9);
}

.modal .wrapper {
	width: calc(100% - 3rem);
	height: calc(100% - 3rem);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/** Active **/

body.menu .overlay,
body.container .overlay,
body.note .overlay {
	display: block;
	pointer-events: all;
}
